html {
  font-family: 'EB Garamond', serif;
  letter-spacing: 1.5px;
  background-color: lightgrey;

}
* {
  margin: 0 auto;
  box-sizing: border-box;
}
a, a:active, a:hover {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: #383870;
}

/*----- header -----*/
.App-header {
  min-height: 110px;
  height: auto;
  width: 100%;
  margin: 0;
  overflow: auto;
  position: fixed;
  display: inline-block;
  }
.brooke-logo {
  width: 60%;
  min-height: 100px;
  padding: 30px 20px 0px 30px;
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 250%;
  float: left;
  letter-spacing: 10px;
  font-weight: 100;
  border-bottom: solid 1px white;
}
/* ----- */

 /*----- DROPDOWN & BURGER BTN -----*/
.burger-button {
  padding: 16px;
  font-size: 16px;
  border: none;
  border-style: none;
  background-color: inherit;
}
/*--burger bars--*/
.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}
 /*--all dropdown general styling--*/
.dropdown {
  max-width: 30%;
  position: relative;
  display: inline-block;
  float: right;
  z-index: 1;
  margin: 15px 15px 0px 0px;
}
.dropdown-options {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: inherit;
  float: right;
}
/* Links inside the dropdown */
.dropdown-options a {
  color: white;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-options a:hover {
  color: grey;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-options {
  display: block;
  z-index: 1;
  position: static;
  float: left;
}

/*----- articles -----*/
.main {
  margin-top: 230px;
  height: 1750px;
  position: absolute;
  z-index: -1;
}
section, article {
  width: 100%;
}
.home-article {
  height: 500px;
}
.projects-article {
  height: 500px;
}
.background-article {
  height: 500px;
}
 /* ----- */

/*font-family: 'Playfair Display SC', serif;*/
/*font-family: 'Cardo', serif;*/
/*font-family: 'Lusitana', serif;*/
/*font-family: 'Yeseva One', cursive;*/
