html {
  font-family: 'EB Garamond', serif;
  letter-spacing: 1.5px;
  background-color: lightgrey;
}
* {
  margin: 0 auto;
  box-sizing: border-box;
}
a, a:active, a:hover {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: #383870;
}
/*sans-serif*/
/*font-family: 'Pinyon Script', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Palanquin', sans-serif;
font-family: 'Mada', sans-serif;
font-family: 'Asap Condensed', sans-serif;*/
/*----- header -----*/
.App-header {
  background-color: grey;
  opacity: .25;
  min-height: 12vw;
  width: 100%;
  margin: 0;
  overflow: auto;
  position: fixed;
  display: inline-block;
  }
.brooke-logo {
  width: 60%;
  height: 9vw;
  padding-left: 2vw;
  padding-top: 4vw;
  font-family: 'EB Garamond', serif;
  font-family: 'Pontano Sans', sans-serif;
  font-family: 'Pinyon Script', cursive;
  font-family: Parisienne;
  color: white;
  font-size: 4vw;
  float: left;
  font-weight: 100;
  border-bottom: solid 1px white;
}
/* ----- */

 /*----- DROPDOWN & BURGER BTN -----*/
.burger-button {
  padding: 1vw;
  border: none;
  border-style: none;
  outline: none;
  background-color: inherit;
}
/*--burger bars--*/
.bar {
  border-radius: .3vw;
  width: 4vw;
  height: .5vw;
  background-color: white;
  margin: .5vw;
}
 /*--all dropdown general styling--*/
.dropdown {
  max-width: 30%;
  position: relative;
  display: inline-block;
  float: right;
  z-index: 1;
  margin: 1vw;
}
.dropdown-options {
  font-size: 1.5vw;
  display: none;
  position: absolute;
  background-color: inherit;
  float: right;
}
/* Links inside the dropdown */
.dropdown-options a {
  color: white;
  padding: 1.5vw;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-options a:hover {
  color: black;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-options {
  display: block;
  z-index: 1;
  position: static;
  float: left;
}

/*----- articles -----*/
.main {
  margin-top: 12vw;
  position: absolute;
  z-index: -1;
}
 /*----- tabs by company -----*/
.co-button {
   background-color: white;
   padding: 0;
   width: 100%;
   height: 10vw;
   margin: 2vmin;
 }
.flatiron-tab {
  width: 25vw;
  align-items: center;
 }
.bakery-tab {
  width: 60%;
  align-items: center;
}
.cynthia-tab {
  width: 70%;
  align-items: center;
  padding-top: 2%;
}
.kate-tab{
  width: 60%;
  align-items: center;
  padding-top: 2%;
}
.jcrew-tab {
  width: 35%;
  align-items: center;
  padding-top: 2%;
}
.ralph-tab {
  width: 80%;
  filter: grayscale(100%);
}
.saks-tab {
  width: 70%;
  align-items: center;
}


  /*-----*/
.jobs-container {
  padding: 5vw;
}
.jobs-container h1 {
  font-size: 1.75vw;
  margin-left: 4.5vw;
  padding: 0px;
}
 .tabs {
   float: left;
   background-color: inherit;
   padding: 2vw;
   width: 40%;
   height: auto;
   overflow: auto;
 }
 /* Style the buttons inside the tab */
 .tabs button {
   display: block;
   background-color: white;
   border: none;
   outline: none;
   cursor: pointer;
   transition: 0.3s;
   font-size: 17px;
 }
 /* Change background color of buttons on hover */
 .tabs button:hover {
   background-color: #ddd;
 }
 /* Create an active/current "tabs button" class */
 .tabs button.active {
  background-color: #ccc;
 }

 #which-job {
   max-width: 60%;
   float: right;
   padding: 4vw;;
   font-family: 'News Cycle', sans-serif;
   font-family: 'Pontano Sans', sans-serif;
 }
 .duties {
   font-size: 1.25vw;
 }
 .when {
   font-size: 1.4vw;
   font-family: Parisienne;
 }
 .role {
   font-size: 1.5vw;
   font-weight: bold;
 }
/*-----*/
/*font-family: 'Pinyon Script', cursive;*/
/*font-family: 'Parisienne', cursive;*/
 /*----- home page -----*/
 .home-container {
   width: 100%;
   height: auto;
   display: inline-block;
   float: left;
 }
 .brooke {
  display: inline-block;
  float: left;
 }
 .brooke-img {
   width: 40vw;
   height: auto;
   filter: grayscale(65%);
 }
.summary-article {
  background-color: black;
  width: 100%;
  display: inline-block;
  float: left;
  padding: 7.5vw;
 }
.summary {
  padding: 3vw;
  font-family: didot;
  font-size: 1.8vw;
  line-height: 1.75;
  width: 38vw;
  height: auto;
  text-align: center;
  font-style: italic;
  color: white;
  float: right;
}
.flatiron-animation {
  height: auto;
  width: 50%;
  display: inline-block;
  float: right;
}
img.FIanimation {
  width: 100%;
  height: auto;
}

.dev-skills {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 6vw;
  color: white;
  float: left;
}

.home-p {
  font-size: 2vw;
}
.home-h3 {
  font-size: 3vw;
  padding: 1vmin;
  margin-top: 2vh;
}
/*-----*/
/*font-family: 'Playfair Display SC', serif;*/
/*font-family: 'Cardo', serif;*/
/*font-family: 'Lusitana', serif;*/
/*font-family: 'Yeseva One', cursive;*/
